:root {
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;

  --border-radius-s: 4px;
  --border-radius-m: 10px;

  --background-color: rgb(32, 32, 32);
  --foreground-color: rgb(210, 210, 210);
  --highlight-color: rgb(255, 255, 255);

  --border-color: #555555;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

i {
  display: block;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  user-select: none;
}
