.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-m) var(--space-l);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.container a {
  color: var(--foreground-color);
}
